main.home
	.container
		img.home__logo#about-me(
			srcset=`${baseDir}images/png/logo.png 1x, ${baseDir}images/png/logo@2x.png 2x`
			src= `${baseDir}images/png/logo.png`
			alt= "Логотип"
			data-scroll
			data-scroll-id="about-me"
			data-scroll-offset="50%"
		)

		section.home__section(data-scroll)
			article.home__text
				h1
					| #{data.about.name},
					<br>
					| #{data.about.position}
				p.home__about
					| !{data.about.text}
			.home__aside
				.home__contacts
					a(href="mailto:arthurshakov@gmail.com")
						| arthurshakov@gmail.com
				.home__contacts
					a(href="tel:+79267022937")
						| +7 (926) 702-29-37
				.home__contacts
					| г. Чегем
				.home__contacts
					.home__social-icon(data-social="fb")
						+svg("icon-fb")
					.home__social-icon(data-social="vk")
						+svg("icon-vk")
					.home__social-icon(data-social="tw")
						+svg("icon-tg")
					//- a.home__social-icon(href="https://www.facebook.com/ArTur12345678910" target="_blank")
					//- 	+svg("icon-fb")
					//- a.home__social-icon(href="https://www.facebook.com/ArTur12345678910" target="_blank")
					//- 	+svg("icon-vk")
					//- a.home__social-icon(href="https://t.me/arthur_shakov" target="_blank")
					//- 	+svg("icon-tg")

		.home__decoration.home__decoration--1(data-scroll data-scroll-speed="1.5")
			svg.for-desktop(xmlns="http://www.w3.org/2000/svg" width="1155" height="363" viewbox="0 0 1155 363" fill="none")
				path(d="M4.99994 236.118C80.1256 193.852 377.653 282.54 477.325 308.87C576.996 335.199 810.555 393.401 944.443 308.87C1078.33 224.339 1145 3 1145 3" stroke="url(#paint0_linear_12623_331)" stroke-width="20")
				defs
					lineargradient#paint0_linear_12623_331(x1="1165.36" y1="159.209" x2="4.25644" y2="160.007" gradientunits="userSpaceOnUse")
						stop(stop-color="#FCDED1" stop-opacity="0.3")
						stop(offset="0.217132" stop-color="#FCDED1" stop-opacity="0")
						stop(offset="0.721638" stop-color="#FCDED1" stop-opacity="0")
						stop(offset="0.99131" stop-color="#FCDED1" stop-opacity="0.5")

			svg.for-devices(xmlns="http://www.w3.org/2000/svg" width="370" height="123" viewbox="0 0 370 123" fill="none")
				path(d="M5.00001 75.7341C28.3944 62.5725 121.045 90.1902 152.084 98.3893C183.122 106.588 255.853 124.712 297.546 98.3893C339.239 72.0661 360 3.14037 360 3.14037" stroke="url(#paint0_linear_12654_136)" stroke-width="20")
				defs
					lineargradient#paint0_linear_12654_136(x1="366.339" y1="51.7843" x2="4.76845" y2="52.033" gradientunits="userSpaceOnUse")
						stop(stop-color="#FCDED1" stop-opacity="0.3")
						stop(offset="0.217132" stop-color="#FCDED1" stop-opacity="0")
						stop(offset="0.721638" stop-color="#FCDED1" stop-opacity="0")
						stop(offset="0.99131" stop-color="#FCDED1" stop-opacity="0.5")

		section.home__section#experience(
			data-scroll
			data-scroll-id="experience"
			data-scroll-offset="50%"
		)
			article.home__text
				h2
					| Опыт работы

				each job in data.jobs
					+job(job)

			.dude#the-floating-dude(data-scroll)
				.dude__container(
					data-scroll-target="#the-floating-dude"
					data-scroll-sticky
					data-scroll
				)
					+lazyPicture({
						src: `${baseDir}images/png/floating-dude.png`,
						alt: 'Чувак, витающий в воздухе.',
					}, [
						{
							srcset: `${baseDir}images/png/floating-dude.png 1x, ${baseDir}images/png/floating-dude@2x.png 2x`,
						}
					]).home__picture

			.home__aside.home__education
				h2
					| Образование

				.home__courses
					each course in data.courses
						+course(course)

		.home__decoration.home__decoration--2(data-scroll-speed="1.5" data-scroll)
			svg.for-desktop(xmlns="http://www.w3.org/2000/svg" width="1155" height="363" viewbox="0 0 1155 363" fill="none")
				path(d="M1150 126.882C1074.87 169.148 777.347 80.4595 677.675 54.1303C578.004 27.801 344.445 -30.4006 210.557 54.1303C76.6701 138.661 10 360 10 360" stroke="url(#paint0_linear_21_11)" stroke-width="20")
				defs
					lineargradient#paint0_linear_21_11(x1="-10.3566" y1="203.791" x2="1150.74" y2="202.993" gradientunits="userSpaceOnUse")
						stop(offset="0.0833333" stop-color="#FCDED1" stop-opacity="0")
						stop(offset="0.322917" stop-color="#FCDED1" stop-opacity="0.6")
						stop(offset="0.713542" stop-color="#FCDED1" stop-opacity="0")
						stop(offset="0.911458" stop-color="#FCDED1" stop-opacity="0.2")

			svg.for-devices(xmlns="http://www.w3.org/2000/svg" width="370" height="122" viewbox="0 0 370 122" fill="none")
				path(d="M365 46.3975C341.606 59.5591 248.955 31.9414 217.916 23.7423C186.878 15.5433 114.147 -2.58089 72.4543 23.7423C30.7613 50.0655 10 118.991 10 118.991" stroke="url(#paint0_linear_12654_156)" stroke-width="20")
				defs
					lineargradient#paint0_linear_12654_156(x1="3.66088" y1="70.3473" x2="365.232" y2="70.0986" gradientunits="userSpaceOnUse")
						stop(offset="0.0833333" stop-color="#FCDED1" stop-opacity="0")
						stop(offset="0.322917" stop-color="#FCDED1" stop-opacity="0.6")
						stop(offset="0.713542" stop-color="#FCDED1" stop-opacity="0")
						stop(offset="0.911458" stop-color="#FCDED1" stop-opacity="0.2")

		section#skills(
			data-scroll-id="skills"
			data-scroll-offset="50%"
			data-scroll
			)
			h2
				| Навыки
			.home__skills
				each skill in data.skills
					+skill(skill)
